*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(251, 255, 254);
    display: flex;
    justify-content: center;
    /* align-items: center;
    height: 400px; */
}
.cont{
    width: 100%;
}
.cont h2{
    width: 65%;
    margin: auto;
    padding: 20px;
    font-size: 40px;
    color: rgb(136, 136, 136);
    border-bottom: 2px solid rgb(126, 126, 126);
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
}

@media screen and (max-width: 600px){
    .cont{
        width: 100%;
    }
    .cont h2{
        width: 90%;
        text-align: center;
    }
}